<!--form.vtl-->
<h1>Enter a dollar amount to see your change in coins.</h1>
<form action='/coin-combo' method='get'>
  <div class="form-group">
    <label for="valueInput">Enter dollar amount</label>
    <input id="valueInput" name="valueInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Get your change</button>
</form>
<!--form.vtl-->
